$main_font: 'Lato', sans-serif;
$sub_font: 'Lora', serif;

$dark_green1: #274f46;
$dark_green2: #2f5c52;
$light_green: #4bb891;
$pale_green: #97c2b6;

$navy_blue: #002336;
$light_blue1: #9297b0;
$light_blue2: #b1b8cb;
$pale_blue: #eef0f6;
$comment_blue: #64a6ff;

$hover_orange: #f17a00;
$orange: #f3a742;
$pale_orange: #f6c695;